<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!--<meta charset="utf-8">-->
        <title>To Do List</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div id="myDIV" class="header">
            <h2>To Do List</h2>
            <input type="text" id="myInput" placeholder="내용을 입력하세요..">
            <span onclick="newElement()" class="addBtn" id = "add-Btn">Add</span>
        </div>

        <ul id="myUL">
            {% autoescape off %}
                {{ content }}
            {% endautoescape %}
        </ul>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/query-string/6.13.7/index.js" integrity="sha512-XSg+BjaeSjxpaowArXk1f15k1kC3Buvl9fLjYIdXIQzjyUSdIiCu5aUJJTbOO/1359qwZ2yLsvvC6orB9lFxAQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="{% static "js/func.js" %}"></script>
</html>